:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Utility classes */

.mt-10 {
  margin-top: 6rem;
}

.mb-10 {
  margin-bottom: 7rem;
}

.mt-15 {
  margin-top: 10rem;
}

.mb-15 {
  margin-bottom: 10rem;
}


/* home */

.home-pricing-card {
  display: flex;
  gap: 0;
  align-items: end;
}

.home-pricing-card p{
  opacity: 0.7;
  text-wrap-mode: nowrap;
  transform: translate(-60%, 0);
}